
.vs/TD7/FileContentIndex/e3a45c49-0a2e-4a4d-ad62-b4286c0ef990.vsidx
.vs/TD7/FileContentIndex/d8636329-5e46-4333-8fbf-63a6ee3218e5.vsidx
.vs/TD7/FileContentIndex/ea61afab-18ac-4615-b7f6-29d71f619330.vsidx
.vs/TD7/FileContentIndex/read.lock
.vs/TD7/v17/.suo
.vs/TD7/v17/Browse.VC.db
.vs/TD7/v17/Browse.VC.db-shm
.vs/TD7/v17/Browse.VC.db-wal
.vs/TD7/v17/Browse.VC.opendb
.vs/TD7/v17/ipch/AutoPCH/975a68436a62d214/FONCTIONS_TD5_7.ipch
.vs/TD7/v17/ipch/AutoPCH/e4962b0c7d08f561/TD7.ipch
